
<div class="container-show">
  <h2><%= @cocktail.name %></h2>
  <div class="doses-list">

      <div class="card-2">

        <% if @cocktail.photo.attached? %>
          <%= cl_image_tag @cocktail.photo.key, height: 300, width: 300, crop: :fit, class: "image" %>
        <% else %>
          <%= image_tag "cocktail-glass-blank.jpg", alt: "empty cocktail glass", height: 300, width: 300, crop: :fit, class: "image"  %>
        <% end %>
          <% @cocktail.doses.each do |dose| %>
          <div class="dose"><%= dose.ingredient.name%> - <%=dose.description %></div>
          <%= button_to "Delete this dose?", dose_path(dose), method: :delete, class: " btn button_to" %>
        <% end %>
      </div>
      <div class = "text-measurement"><%= link_to "Add a new measurement?", new_cocktail_dose_path(@cocktail) %></div>

  </div>

</div>


<div class="footer-2">
  <%= link_to "Back to our Mix it up cocktails?", cocktails_path %>
</div>

